<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keyrus Challenge </title>
</head>
<body>
<h1>Challenge front end </h1>

<p>Technologies to be used:</p>
<br/>

<p>Type Script.</p>
<p>JavaScript (ES6).</p>
<p>Angular js higher to version 4.</p>
<p>HTML5 with CSS3.</p>
<p>Write your javaScript tests with Jasmine.</p>
<p>npm or yarn.</p>

<h1>Create the following pages with layouts of your choice.</h1>


<p>- Home page</p>
<p>- Product Page</p>
<p>- Create a Header and Footer of your choice.</p>


<br/>
<br/>
<br/>


<h1>Given the following scenarios, you will consume 2 enpoints.</h1>

<h2>1-) Consultation by product code. </h2>

<p>- Build a product page with addtoCart option</p>
<p>- Products page should contain price.</p>
<p>- Products page should contain description.</p>
<p>- Product page should contain product name.</p>
<p>- Products page should have add to cart buttons.</p>
<p>- The products page must contain stock validation (if you do not have stock, remove option to add to cart).</p>
<p>- Products page should contain summary.</p>
<p>- Products page should have an image of your choice.</p>

<br/>
<br/>
<br/>


<h2>2-) Consult all products </h2>

<p>Set up a Home page where you have a caroussel with addtoCart option</p>
<p>The home page should have a banner with the lowest price product.</p>
<p>The home page should contain a caroussel with all products.</p>
<p>The home page should contain stock validation (if you do not have stock, remove option to add to cart).</p>

<br/>
<br/>
<br/>


<h1>To access the Apis documentation:</h1>
<p>http://localhost:8080/swagger-ui.html#!/</p>

</body>
</html>